In [2]:
import pandas as pd

In [6]:
datos = {"nombre": ["Pedro","Juan","Nahuel"], "edad":[25,44,32]}
datos

{'nombre': ['Pedro', 'Juan', 'Nahuel'], 'edad': [25, 44, 32]}

In [10]:
df = pd.DataFrame(datos)
df

   nombre  edad
0   Pedro    25
1    Juan    44
2  Nahuel    32

In [12]:
type(df)

pandas.core.frame.DataFrame

In [14]:
df["nombre"]

0     Pedro
1      Juan
2    Nahuel
Name: nombre, dtype: object

In [16]:
df.nombre

0     Pedro
1      Juan
2    Nahuel
Name: nombre, dtype: object

In [18]:
type(df.nombre)

pandas.core.series.Series