In [60]:
import pandas as pd
import uuid
import hashlib

In [62]:
data = pd.DataFrame({
    'nombre': ['Ana', 'Juan', 'Luis'],
    'email': ['ana@example.com', 'juan@example.com', 'luis@example.com'],
    'ubicacion': ['Ciudad A', 'Ciudad B', 'Ciudad C']
})

data

  nombre             email ubicacion
0    Ana   ana@example.com  Ciudad A
1   Juan  juan@example.com  Ciudad B
2   Luis  luis@example.com  Ciudad C

In [64]:
id_pseudo = []

In [66]:
for n in range(len(data)): #Por cada nombre que vaya de 0 al largo de data
    id_pseudo.append(str(uuid.uuid4()))

In [68]:
id_pseudo

['df3bbbf4-94fe-43dd-acb3-b14353d28a92',
 'ddc7c2cd-ff0d-49fd-9d53-aeacee5a61ab',
 '839f1fdd-1e79-43f5-96c0-2b91d36b7363']

In [70]:
data["id_pseudo"] = id_pseudo
data.drop("nombre", axis=1 , inplace=True)
data

              email ubicacion                             id_pseudo
0   ana@example.com  Ciudad A  df3bbbf4-94fe-43dd-acb3-b14353d28a92
1  juan@example.com  Ciudad B  ddc7c2cd-ff0d-49fd-9d53-aeacee5a61ab
2  luis@example.com  Ciudad C  839f1fdd-1e79-43f5-96c0-2b91d36b7363

In [72]:
def hash_data(data):
    return hashlib.sha256(data.encode()).hexdigest()

In [74]:
hash_emails = []

In [76]:
for email in data["email"]:
    h_email = hash_data(email)
    hash_emails.append(h_email)
data["email"] = hash_emails
data

,email,ubicacion,id_pseudo
0,8e43ca37701228e74983efdbd0cff5c16b3b1e5d4e29a7...,Ciudad A,df3bbbf4-94fe-43dd-acb3-b14353d28a92
1,81b562a0fe2aecc8831e2d7c9942f319736afc2a99415e...,Ciudad B,ddc7c2cd-ff0d-49fd-9d53-aeacee5a61ab
2,861d62c5b964e71b42e61aeb4e876f86908a86300b15b2...,Ciudad C,839f1fdd-1e79-43f5-96c0-2b91d36b7363

In [78]:
mis_tokens = {}

In [82]:
def tokenizar(dato):
    token = str(uuid.uuid4())
    mis_tokens[token] = dato
    return token

In [84]:
def recuperar_dato(token):
    return mis_tokens.get(token, "Token no v√°lido")

In [86]:
dato_original = "123-456-789"
token = tokenizar(dato_original)

In [88]:
print(f"Token generado: {token}")
print(f"Dato recuperado: {recuperar_dato(token)}")

Token generado: 2f052425-1e93-403f-b48c-dd8c0e69ce89
Dato recuperado: 123-456-789