# Proyecto del Día 8 - Análisis de Datos Meteorológicos

Este proyecto consiste en analizar un conjunto de datos meteorológicos utilizando Python y NumPy. 
El objetivo es aplicar las técnicas de manipulación de arrays, tratamiento de datos faltantes, 
y análisis estadístico básico en un conjunto de datos del mundo real.

## Tareas a Realizar:
1. Crear un DataFrame a partir de los datos del archivo **datos_meteorologicos.csv** provisto en esta lección.
2. Realizar observaciones iniciales de los datos con Pandas.
3. Convertir las columnas del DataFrame en arrays de NumPy.
4. Identificar los datos faltantes en los arrays, y reemplazarlos por el promedio de los valores del respectivo array.
5. Realizar análisis estadísticos básicos. Mínimamente se espera que puedas extraer la siguiente información de tus arrays:
    * La temperatura promedio
    * El total de precipitaciones
    * La máxima humedad registrada
    * La fecha más calurosa
    * La fehca más fría
6. Exportar los resultados a un nuevo archivo CSV.

¡Mucha suerte con tu proyecto!

### 1. Crear un DataFrame a partir de los datos del archivo datos_meteorologicos.csv provisto en esta lección.

In [462]:
import pandas as pd
import numpy as np

In [464]:
ruta = "C:/Users/nahuc/Desktop/code/Python/Udemy/Data Science y Machine Learning/Día 8/Cuadernos para Prácticas/datos_meteorologicos.csv"
df = pd.read_csv(ruta)
df

           Fecha  Temperatura  Precipitación    Humedad
0     01/01/2010    17.440675      10.957482  52.384637
1     02/01/2010    25.759468       5.315628  30.633530
2     03/01/2010    20.138169      15.317706  41.496715
3     04/01/2010    17.244159      13.151008  90.684704
4     05/01/2010    11.182740      16.413667  22.116422
...          ...          ...            ...        ...
5105  24/12/2023    -9.554692      12.700998  50.094533
5106  25/12/2023     2.837831       5.475686  92.456057
5107  26/12/2023    29.873597       4.615012  18.362847
5108  27/12/2023          NaN            NaN        NaN
5109  28/12/2023    37.308043       7.330510  50.646211

[5110 rows x 4 columns]

### 2. Realizar observaciones iniciales de los datos con Pandas.

In [467]:
df.shape

(5110, 4)

In [469]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5110 entries, 0 to 5109
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Fecha          5110 non-null   object
 1   Temperatura    4855 non-null   float64
 2   Precipitación  4855 non-null   float64
 3   Humedad        4855 non-null   float64
dtypes: float64(3), object(1)
memory usage: 159.8+ KB

In [471]:
df.describe()

       Temperatura  Precipitación      Humedad
count  4855.000000    4855.000000  4855.000000
mean     14.889296       9.901604    54.359061
std      14.440466       5.801842    26.096345
min      -9.996378       0.003008    10.014980
25%       2.651777       4.756907    31.866578
50%      14.693274       9.853698    54.254478
75%      27.381451      14.966997    77.029500
max      39.998201      19.999559    99.996582

In [473]:
df.isnull()

      Fecha  Temperatura  Precipitación  Humedad
0     False        False          False    False
1     False        False          False    False
2     False        False          False    False
3     False        False          False    False
4     False        False          False    False
...     ...          ...            ...      ...
5105  False        False          False    False
5106  False        False          False    False
5107  False        False          False    False
5108  False         True           True     True
5109  False        False          False    False

[5110 rows x 4 columns]

### 3. Convertir las columnas del DataFrame en arrays de NumPy.

In [476]:
temperatura = df["Temperatura"].to_numpy()
precipitacion = df["Precipitación"].to_numpy()
humedad = df["Humedad"].to_numpy()
temperatura

array([17.4406752 , 25.75946832, 20.1381688 , ..., 29.87359717,
               nan, 37.30804318])

### 4. Identificar los datos faltantes en los arrays, y reemplazarlos por el promedio de los valores del respectivo array.

In [479]:
#Verifico si tienen nulos
temperatura_nulos = np.isnan(temperatura)
precipitacion_nulos = np.isnan(precipitacion)
humedad_nulos = np.isnan(humedad)

In [481]:
#Obtengo el promedio sin contas los nulos
temp_mean = np.nanmean(temperatura) 
precip_mean = np.nanmean(precipitacion)
hum_mean = np.nanmean(humedad)

In [483]:
temp_con_promedio = np.where(np.isnan(temperatura) ,temp_mean , temperatura)
precip_con_promedio = np.where(np.isnan(precipitacion), precip_mean , precipitacion)
hum_con_promedio = np.where(np.isnan(humedad), precip_mean , humedad)

### 5. Realizar análisis estadísticos básicos.

##### Temperatura promedio

In [486]:
temperatura_promedio = np.nanmean(temp_con_promedio)
temperatura_promedio

14.889295723531713

##### Total de precipitaciones

In [489]:
precipitaciones_total = np.sum(precip_con_promedio)
precipitaciones_total

50597.19438939993

##### Máxima humedad registrada

In [492]:
humedad_maxima = np.max(hum_con_promedio)
humedad_maxima

99.99658156071747

##### Fecha más calurosa

In [499]:
df["Fecha"] = pd.to_datetime(df["Fecha"], format = "%d/%m/%Y")
temperatura_maxima = df["Temperatura"].max()
fecha_calurosa = df.loc[df["Temperatura"] == temperatura_maxima, "Fecha"].dt.date.iloc[0]
fecha_calurosa

datetime.date(2017, 7, 12)

##### Fecha más fría

In [502]:
temperatura_min = df["Temperatura"].min()
fecha_fria = df.loc[df["Temperatura"] == temperatura_min,"Fecha"].dt.date.iloc[0]
fecha_fria

datetime.date(2020, 7, 23)

### 6. Exportar los resultados a un nuevo archivo CSV.

In [505]:
ruta = "C:/Users/nahuc/Desktop/code/Python/Udemy/Data Science y Machine Learning/Día 8/Cuadernos para Prácticas/Analisis_datos_meteorologicos.csv"
ruta2 = "C:/Users/nahuc/Desktop/code/Python/Udemy/Data Science y Machine Learning/Día 8/Cuadernos para Prácticas/Analisis_datos_meteorologicos.xlsx"

In [507]:
df=pd.DataFrame({
        "Temperatura promedio" : [temperatura_promedio],
        "Precipitaciones_total" : [precipitaciones_total],
        "Máxima humedad registrada" : [humedad_maxima],
        "Fecha más calurosa" : [fecha_calurosa],
        "Fecha más fría" : [fecha_fria],
})
df

,Temperatura promedio,Precipitaciones_total,Máxima humedad registrada,Fecha más calurosa,Fecha más fría
0,14.889296,50597.194389,99.996582,2017-07-12,2020-07-23

In [509]:
df.to_csv(ruta,index=False)

In [511]:
df.to_excel(ruta2,index=False)